<div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" ui-sref="home">Home</button>
        <button type="button" class="btn btn-info">Categories</button>
    </div>
</div>

<div class="list-group">
    <a class="list-group-item list-group-item-action text-center"
        ng-repeat="category in category.categories"
        ui-sref="items({categoryShortName: category.short_name})">
      {{ category.name }} ({{ category.short_name }})
    </a>
</div>