<div class="text-center">    
    <div class="btn-group text-center" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" ui-sref="home">Home</button>
        <button type="button" class="btn btn-primary" ui-sref="categories">Categories</button>
        <button type="button" class="btn btn-info">Menu Items</button>
    </div>
</div>    

<ul class="list-group list-group-flush">
    <li class="list-group-item" ng-repeat="item in menuItems.items">
        ${{ item.price_large }} - {{ item.name }} ({{ item.short_name }}) -- {{ item.description }}
    </li>
</ul>